<h3>List of events</h3>
<div class="grid grid-pad">
  <a *ngFor="let event of events"  [routerLink]="['/detail', event.id]"  class="col-1-4">
    <div class="module event">
      <h4>{{event.description}}</h4>
    </div>
  </a>
</div>
<!--<event-search></event-search>-->
