<div class="container">
    <h1>Formulaire connexion</h1>
    <form [formGroup]="connexionForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" [(ngModel)]="user.email" class="form-control" id="email" name="email">
        <div *ngIf="formErrors.email" class="alert alert-danger">
          {{ formErrors.email }}
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="text" formControlName="password" [(ngModel)]="user.password" class="form-control" id="password" name="password">
        <div *ngIf="formErrors.password" class="alert alert-danger">
          {{ formErrors.password }}
        </div>
      </div>
      <button [disabled]="!connexionForm.valid" type="submit" class="btn btn-success" >Connexion</button>
    </form>
</div>