<div class="container">
    <h1>Formulaire Inscription</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #inscriptionForm="ngForm">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" formControlName="nom" [(ngModel)]="user.nom" class="form-control" id="nom" name="nom" required>
        <div *ngIf="formErrors.nom" class="alert alert-danger">
          {{ formErrors.nom }}
        </div>
      </div>
      <div class="form-group">
        <label for="prenom">Prenom</label>
        <input type="text" formControlName="prenom" [(ngModel)]="user.prenom" class="form-control" id="prenom" name="prenom">
        <div *ngIf="formErrors.prenom" class="alert alert-danger">
          {{ formErrors.prenom }}
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="mail" [(ngModel)]="user.mail" class="form-control" id="mail" name="mail">
        <div *ngIf="formErrors.mail" class="alert alert-danger">
          {{ formErrors.mail }}
        </div>
      </div>
      <div class="form-group">
        <label for="dateNaissance">Date de naissance</label>
        <input type="date" formControlName="dateNaissance" [(ngModel)]="user.dateNaissance" class="form-control" id="dateNaissance" name="dateNaissance">
        <div *ngIf="formErrors.dateNaissance" class="alert alert-danger">
          {{ formErrors.dateNaissance }}
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="text" formControlName="password" [(ngModel)]="user.password" class="form-control" id="password" name="password">
        <div *ngIf="formErrors.password" class="alert alert-danger">
          {{ formErrors.password }}
        </div>
      </div>
      <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success" >Inscription</button>
    </form>
</div>