<div class="container">
    <h1>Formulaire Inscription</h1>
    <form (ngSubmit)="onSubmit()" #name="ngForm">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" [(ngModel)]="user.nom" class="form-control" id="nom" name="nom" required>
      </div>
      <div class="form-group">
        <label for="prenom">Prenom</label>
        <input type="text" [(ngModel)]="user.prenom" class="form-control" id="prenom" name="prenom">
      </div>
      <button type="submit" class="btn btn-success" >Submit</button>
    </form>
</div>