<div class="container" >
<form [formGroup]="evenementForm" #formulaire="ngForm" class="form-horizontal">
  <legend>Créer un évenement</legend>
  <div class="form-group">
    <label class="col-md-4 control-label" for="nomEvent">Nom</label>  
    <div class="col-md-4">
    <input id="nomEvent" name="nomEvent" type="text" placeholder="nom de l'évenement" 
    class="form-control input-md" formControlName="nomEvent" [(ngModel)]="event.nomEvent">
    <div *ngIf="formErrors.nomEvent" class="alert alert-danger">
    {{ formErrors.nom }}
    </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="textarea">Description</label>
    <div class="col-md-4">                     
      <textarea class="form-control" id="textarea" name="textarea"
      [(ngModel)]="event.description" formControlName="description" ></textarea>
    <div *ngIf="formErrors.description" class="alert alert-danger">
    {{ formErrors.description }}
    </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Date Début</label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="date" placeholder="Date de début" 
    class="form-control input-md" [(ngModel)]="event.dateDebut" formControlName="dateDebut">
    <div *ngIf="formErrors.dateDebut" class="alert alert-danger">
    {{ formErrors.dateDebut }}
    </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Date Fin</label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="date" placeholder="Date de fin" 
    [(ngModel)]="event.dateFin" formControlName="dateFin" class="form-control input-md">
    <div *ngIf="formErrors.dateFin" class="alert alert-danger">
    {{ formErrors.dateFin }}
    </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label"></label>
      <div class="col-md-4">                     
        <button (click)="onSubmit()" [disabled]="!evenementForm.valid" type="submit" class="btn btn-success col-md-4" >
          Créer
        </button>
    </div>
  </div>
</form>
</div>